<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198418587653-php8fcrfmrni9qlbatshpos1vphr6u2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198418587653-php8fcrfmrni9qlbatshpos1vphr6u2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBikFTy64VKdIARc8yhknG0a2d4YYXK0JY</string>
	<key>GCM_SENDER_ID</key>
	<string>198418587653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monty.TrainingApp</string>
	<key>PROJECT_ID</key>
	<string>training-app-e8279</string>
	<key>STORAGE_BUCKET</key>
	<string>training-app-e8279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198418587653:ios:42b4099ae6866ea7a5bc6c</string>
</dict>
</plist>